In [1]:
print("welcome")
input("Total number of buses:")
input("Total number of seats in bus:")

welcome
Total number of buses:5
Total number of seats in bus:40

'40'

In [2]:
print("welcome")
p=input("Total number of people:")
b=input("Total number of seats in bus:")
j=int(p/b)

welcome
Total number of people:100
Total number of seats in bus:40

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [3]:
print("welcome")
p=input("Total number of people:")
b=input("Total number of seats in bus:")
a=int(p)
b=int(b)
j=a/b
print(j)

welcome
Total number of people:100
Total number of seats in bus:50
2.0

In [4]:
print("welcome")
p=input("Total number of people:")
b=input("Total number of seats in bus:")
a=int(p)
b=int(b)
j=a/b
print("number of buses required=" j)

SyntaxError: invalid syntax (<ipython-input-4-b9dbd6974502>, line 7)

In [5]:
print("welcome")
p=input("Total number of people:")
b=input("Total number of seats in bus:")
a=int(p)
b=int(b)
j=a/b
print("number of buses required=", j)

welcome
Total number of people:100
Total number of seats in bus:50
number of buses required= 2.0

In [6]:
print("welcome")
p=input("Total number of people:")
b=input("Total number of seats in bus:")
a=int(p)
b=int(b)
j=a/b
print("number of buses required=",int(j))

welcome
Total number of people:100
Total number of seats in bus:50
number of buses required= 2

In [7]:
print("welcome")
p=input("Total number of people:")
b=input("Total number of seats in bus:")
a=int(p)
b=int(b)
j=a/b
print("number of buses required=",int(j))

welcome
Total number of people:120
Total number of seats in bus:35
number of buses required= 3

In [8]:
print("welcome")
p=input("Total number of people:")
b=input("Total number of seats in bus:")
a=int(p)
b=int(b)
j=a/b
print("number of buses required=",int(j))

welcome
Total number of people:90
Total number of seats in bus:100
number of buses required= 0

In [9]:
p=int(input("Total number of people:"))

Total number of people:100

In [10]:
p=int(input("Total number of people:"))
print(p)

Total number of people:100
100

In [11]:
p=int(input("Total number of people:"))
j=p/2
print(j)

Total number of people:100
50.0

In [12]:
p=int(input("Total number of people:"))
j=p/2
print(j)

Total number of people:31
15.5

In [13]:
temp=int(input("Temperature in celsius:"))
foreign_heat=(temp)*(1.8)+32
print(foreign_heat)

Temperature in celsius:10
50.0

In [14]:
temp=int(input("Temperature in celsius:"))
foreign_heat=(temp)*(1.8)+32
print("Temperature converted from celsius to foreign heat",foreign_heat)

Temperature in celsius:10
Temperature converted from celsius to foreign heat 50.0

In [15]:
#Assignment-3 convertion temperature from celsius to foreign heat
temp=int(input("Temperature in celsius:"))
foreign_heat=(temp)*(1.8)+32
print("Temperature converted from celsius to foreign heat is:",foreign_heat)

Temperature in celsius:10
Temperature converted from celsius to foreign heat is: 50.0

In [16]:
#Assignment-2 convertion temperature from foreign heat to celsius
temp=int(input("Temperature in Foreign heat:"))
celsius_temp=(temp)-32/1.8
print("Temperature converted from Foreign heat to celsius temp is:",celsius_temp)

Temperature in Foreign heat:50
Temperature converted from Foreign heat to celsius temp is: 32.22222222222222

In [17]:
#Assignment-3 convertion temperature from celsius to foreign heat#wrong
temp=int(input("Temperature in celsius:"))
foreign_heat=(temp)*((1.8)+32)
print("Temperature converted from celsius to foreign heat is:",foreign_heat)

Temperature in celsius:10
Temperature converted from celsius to foreign heat is: 338.0

In [18]:
#Assignment-2 convertion temperature from foreign heat to celsius#wrong
temp=int(input("Temperature in Foreign heat:"))
celsius_temp=(temp)/1.8-32
print("Temperature converted from Foreign heat to celsius temp is:",celsius_temp)

Temperature in Foreign heat:50
Temperature converted from Foreign heat to celsius temp is: -4.222222222222221

In [19]:
#Assignment-2 convertion temperature from foreign heat to celsius
temp=int(input("Temperature in Foreign heat:"))
celsius_temp=(temp-32)/1.8
print("Temperature converted from Foreign heat to celsius temp is:",celsius_temp)

Temperature in Foreign heat:50
Temperature converted from Foreign heat to celsius temp is: 10.0

In [20]:
kms=input("enter number of kms:")
meters=kms/1000
print("conversion from kms to meters:")

enter number of kms:1

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [21]:
kms=int(input("enter number of kms:"))
meters=kms/1000
print("conversion from kms to meters:")

enter number of kms:1
conversion from kms to meters:

In [25]:
#assignment-5
kms=int(input("enter number of kms:"))
meters=kms*1000
centi_meters=kms*100000
milli_meters=kms*1000000
feets=kms*3280.84
print("conversion from kms to meters:",meters)
print("conversion from kms to centi meters:",centi_meters)
print("conversion from kms to milli meters:",milli_meters)
print("conversion from kms to feets:",feets)

enter number of kms:2
conversion from kms to meters: 2000
conversion from kms to centi meters: 200000
conversion from kms to milli meters: 2000000
conversion from kms to feets: 6561.68

In [27]:
#Assignment-6  #correct
memory_GB=int(input("Enter memory in GB:"))
mega_bytes_memory=memory_GB*1000
kilo_bytes_memory=memory_GB*1000000
terra_bytes_memory=memory_GB/1000
pico_bytes_memory=memory_GB/1000000
print("conversion from GBs to MB:",mega_bytes_memory)
print("conversion from GBS to KB:",kilo_bytes_memory)
print("conversion from GBS to TB:",terra_bytes_memory)
print("conversion from GBS to PB:",pico_bytes_memory)

Enter memory in GB:1
conversion from GBs to MB: 1000
conversion from GBS to KB: 10000000
conversion from GBS to TB: 0.001
conversion from GBS to PB: 1e-06

In [36]:
#assignmnt-7 #correct
name=input("Name of the person:")
age=input("Age of the person:")
height=input("Height of the person:")
print("The details of person:Name:"+name+", Age:"+age+", Height:"+height)

Name of the person:sandeep
Age of the person:29
Height of the person:5.6
The details of person:Name:sandeep, Age:29, Height:5.6

In [46]:
#assignment-8 #need to check formulae to calculate the BMI
weight=float(input("Weight of the person:"))
Height=float(input("Height of the person:"))
BMI_formula=(weight)/(30.48*Height)
print("BMI of the person:",BMI_formula)

Weight of the person:62
Height of the person:5.6
BMI of the person: 0.3632358455193101

In [47]:
#assignment-9
name="jayram"
age=1.6
height=3.5356234
weight=10.343856783
print("Name: %s,age:%.2f,Height:%.2f,Weight:%.2f")%(name,age,height,weight)

Name: %s,age:%.2f,Height:%.2f,Weight:%.2f

TypeError: unsupported operand type(s) for %: 'NoneType' and 'tuple'

In [56]:
#assignment-9 by using format specifiers(%s,%d,%f) # correct 
name="jayaram"
age=1.6
height=3.5356234
weight=10.343856783
print("Name:%s,Age:%.1f,Height:%.2f,Weight:%.3f" %(name,age,height,weight))

Name:jayaram,Age:1.6,Height:3.54,Weight:10.344

In [63]:
#assignment-10
words=input("Enter three capital letters:")
lower_case=ord(words)   #conversion to ascii number
output=lower_case+32   #add 32 get the lower case letter equalavent number
print(chr(output))    #convert to character

Enter three capital letters:ABC

TypeError: ord() expected a character, but string of length 3 found

In [69]:
#assignment-10 #alternate method by using lower function
words=input("Enter three capital letters:") 
lower1=lower.words
print(lower1)

Enter three capital letters:ABC

NameError: name 'lower' is not defined

In [66]:
a=input("enter  char: ")
c=upper(a)
print(c)

enter  char: c

NameError: name 'upper' is not defined

In [67]:
a=input("enter  char: ")
c=a.upper
print(c)

enter  char: b
<built-in method upper of str object at 0x000001A7022C9180>

In [1]:
#Assignment-12
tomota_cost=100
potato_cost=200
mangoes_cost=150
total_cost=(tomota_cost+potato_cost+mangoes_cost)
Average_cost=total_cost/3
print("total cost of grocieres:",total_cost)
print("average cost:",Average_cost)

total cost of grocieres: 450
average cost: 150.0